/*- Mobile: 375px
- Desktop: 1440px */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
/* font-family: 'Fraunces', serif; */

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-cyan: hsl(159, 37%, 22%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: var(--cream);
    font-family: 'Montserrat', sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

main {
    display: flex;
    background-color: var(--white);
    border-radius: 15px;
    width: 620px;
    height: 500px;

    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.column {
    flex: 50%;
}

.col-l {
    width: 100%;
    height: 100%;
    background: url(images/image-product-desktop.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 0 0 15px;
    transition: ease-in-out 0.1s ;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.15);
}

.col-l img {
    width: 50px;
}

.col-l:hover {
    cursor: pointer;
    transform: translateX(-16px) scale(1.1);
    box-shadow: none;
}

.col-r {
    padding: 30px;
}

.perfume {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
    color: var(--dark-grayish-blue);
    letter-spacing: 5px;
}

.parfume-description {
    padding: 15px 0;
    color: var(--dark-grayish-blue);
}

.prices {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.new-price {
    color: var(--dark-cyan);
}

.old-price {
    font-size: larger;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

.parfume-name {
    padding: 15px 0;
}

.prices .new-price, .parfume-name  {
    font-size: 35px;
    font-family: 'Fraunces', serif;
}

.btn-wrapper {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    /* fix to the bottom */
}

button {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 10px;
    padding: 15px 65px;
    transition: ease-in-out 0.075s;
}

button:hover {
    cursor: pointer;
    background-color: var(--very-dark-cyan);
}

button img {
    padding-right: 7px;
}

.attribution {
    position:absolute;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 100%;
    height: 30px;
    background-color: var(--dark-cyan);
    font-size: 11px; text-align: center;
}

.attribution a {
    padding: 0 3px;
    text-decoration: none;
    color: var(--cream);
}

@media only screen and (max-width: 635px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .col-l {
        width: 100%;
        height: 100%;
        background: url(images/image-product-desktop.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 0 0 0;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    }

    .col-l:hover {
        cursor: default;
        transform: none;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    }
  }